@model IEnumerable<ProjetSession.Models.Film>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Liste de films à louer</h1>

@* TODO : 18. Ajouter un formulaire de recherche permettant de cherche avec une partie du nom des films. *@

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nom
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>    
                    <img src="@item.ImageUrl" alt="Image à venir..." style="background-size: cover; height: 13.5rem; width: 9rem; background-repeat: no-repeat;" />
            </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin")) // admin
                {
                    <td>
                        @Html.ActionLink("Afficher", "Detail", new {  id=item.Id  }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id  }, new { onclick = "return confirm('Voulez-vous vraiment supprimer ce film?');" })
                    </td>
                }
                <td>
                    <a asp-controller="Commandes" asp-action="AjouterPanier" asp-route-id="@item.Id" class="btn btn-success d-flex w-70 btn-last" data-carid="230" data-img="https://www.luxurycarrental.ae/uploads/car/MHnh7yJLUAZKLAyt4qTWLrAy5e8dl5ZqDUH5xcYX.webp">
                        Louer ce film<br>(@DateTime.Now.AddDays(7).Date)<br><span style="font-weight:700;">@item.Prix $</span>
					</a>
                </td>
        </tr>
}
    </tbody>
</table>
